@model List<Product>

    <h4>Yeni bir ürün eklemek icin <a asp-controller="Product" asp-action="CreateProduct">tıklayınız</a></h4>
  

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Isim</th>
            <th>Fiyat</th>
            <th>Kategori</th>
            <th>Guncelle</th>
            <th>Sil</th>
        </tr>
    </thead>

    <tbody>
        @foreach(Product item in Model)
        {
            <tr>
                <td>@item.BenimId  </td>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.Category.CategoryName</td>
                <td></td>
                <td></td>
            </tr>
        }
        </tbody>

    </table>

